.bg-celeste,
.btn-celeste,
.navbar-celeste {
    background-color: #C8102E; /* Cambiado a rojo (#C8102E) */
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.navbar-celeste .navbar-nav .nav-item .nav-link,
.navbar-celeste .navbar-toggler-icon,
.navbar-celeste .ml-auto .nav-link {
    color: white !important;
}



.navbar-celeste .navbar-nav .nav-item .nav-link.active,
.navbar-celeste .navbar-nav .nav-item .nav-link:hover {
    border: 2px solid #C8102E;
    border-radius: 5px;
    padding: 8px;
    color: white; /* Asegura que el color del texto sea blanco en estado activo o al pasar el mouse */
}
.btn-celeste:hover {
    background-color: #961f41; /* Puedes ajustar el color del hover según tu preferencia */
}

.navbar-celeste .nav-link,
.navbar-celeste .navbar-toggler-icon {
    color: white;
}

.navbar-nav .nav-item {
    margin-right: 20px;
    border-right: 1px solid white;
    padding-right: 10px;
}

.navbar-nav .nav-item:last-child {
    border-right: none;
    margin-right: 0;
}

.navbar-celeste .navbar-nav .nav-item:last-child {
    border-right: none;
    margin-right: 0;
}